<script lang="ts">
    import logo from "../assets/logo.svg";
</script>

<footer class="footer has-text-white">
    <div class="content  columns is-vcentered">
        <div class="column ">
            <p class="title has-text-white ">Lorem ipsum</p>
            <p class="block">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.




                adasd a;dka ;ldk
                
                Recusandae suscipit saepe vel laborum, ad doloribus perspiciatis
                dolor numquam similique iste libero delectus quisquam corporis
                veritatis animi repellendus fugiat, amet porro.
            </p>
        </div>
        <div class="column">
            <p class="block">
                <span class="icon"><i class="fas fa-phone-alt" /></span><span
                    >+20 123 345 6789</span
                >
            </p>
            <p class="block">
                <span class="icon"><i class="fas fa-envelope" /></span><a
                    href="mailto:example@exampel.com">Example@example.com</a
                >
            </p>
            <p class="block">
                <span class="icon"><i class="fas fa-map-marker" /></span><span
                    >123 No Name Street, No Name, Earth.</span
                >
            </p>
            <div class="columns is-size-5 is-mobile">
                <div class="column ">
                    <span class="icon is-large"
                        ><i class="fab fa-facebook-f" /></span
                    >
                </div>
                <div class="column ">
                    <span class="icon is-large"
                        ><i class="fab fa-twitter" /></span
                    >
                </div>
                <div class="column ">
                    <span class="icon is-large"
                        ><i class="fab fa-tiktok" /></span
                    >
                </div>
                <div class="column ">
                    <span class="icon is-large"
                        ><i class="fab fa-youtube" /></span
                    >
                </div>
                <div class="column ">
                    <span class="icon is-large"
                        ><i class="fab fa-instagram" /></span
                    >
                </div>
                <div class="column ">
                    <span class="icon is-large"
                        ><i class="fab fa-linkedin" /></span
                    >
                </div>
            </div>
        </div>
        <div class="column is-2 ">
            <p>
                <span class="icon-text"
                    ><span class="icon"><i class="fas fa-question" /></span><a
                        href="#id"
                        class="has-text-white">About Us</a
                    ></span
                >
            </p>

            <p>
                <span class="icon-text"
                    ><span class="icon"><i class="fas fa-tasks" /></span><a
                        href="#id"
                        class="has-text-white">Jobs</a
                    ></span
                >
            </p>
            <p>
                <span class="icon-text"
                    ><span class="icon"><i class="fas fa-comments" /></span><a
                        href="#id"
                        class="has-text-white">Customer Support</a
                    ></span
                >
            </p>
            <p>
                <span class="icon-text"
                    ><span class="icon"><i class="far fa-file-alt" /></span><a
                        href="#id"
                        class="has-text-white">Privacy Policy</a
                    ></span
                >
            </p>
            <p>
                <span class="icon-text"
                    ><span class="icon"><i class="fas fa-tools" /></span><a
                        href="#id"
                        class="has-text-white">Report An Issue</a
                    ></span
                >
            </p>
        </div>
        <div
            class="column is-2 is-size-7 "
        >
            <a href="#top"
                ><img
                    class=" my-auto"
                    src={logo}
                    width="112"
                    height="28"
                    alt='logo'
                /></a
            >
        </div>
    </div>
</footer>

<style>
    img {
        filter: brightness(200);
    }
</style>
