<script lang="ts">
    import logo from "../assets/logo.svg";
    let active = false;
</script>

<nav class="navbar 	is-spaced" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <img src={logo} width="112" height="28" />
        </a>

        <a
            role="button"
            class="navbar-burger"
            aria-label="menu"
            aria-expanded="false"
            data-target="navbar"
            on:click={() => (active = !active)}
        >
            <span aria-hidden="true" />
            <span aria-hidden="true" />
            <span aria-hidden="true" />
        </a>
    </div>

    <div id="navbar" class="navbar-menu" class:is-active={active}>
        <div class="navbar-start">
            <a class="navbar-item"> Home </a>

            <a class="navbar-item">Products </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link"> Deals </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item"> New Arrivals </a>
                    <a class="navbar-item"> Summer Sale </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <a class="navbar-item is-primary button ">
                <span class="icon"><i class="fas fa-shopping-cart" /></span>
                <span class="is-capitalized">my cart</span>
                <span class="tag is-info ml-2">0</span>
            </a>
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-light">
                        <span class="icon"
                            ><i class="fas fa-sign-in-alt" /></span
                        > <span>Log in</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
