<script lang="ts">
  import Navbar from "./lib/Navbar.svelte";
  import Footer from "./lib/Footer.svelte";
</script>

<Navbar />
<main class="container py-5">
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer  ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer is-info ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer is-info ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer is-info ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
    
  </div>

  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer  ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer is-info ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
    <div class="tile is-parent">
      <div class="card tile is-child">
        <div class="card-image">
          <figure class="image is-4by3">
            <img
              src="https://bulma.io/images/placeholders/1280x960.png"
              alt="Placeholder "
            />
          </figure>
        </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">Product name</p>
              <p class="subtitle is-6">price</p>
            </div>
          </div>

          <div class="content">
           <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veniam, non tempora numquam magnam deserunt, aut, itaque cumque iure saepe perferendis sed quam! Amet fugiat aspernatur doloremque ullam similique rerum eos?</p>  
            <div class="tags">
              <a class="tag is-info is-light">new arrival</a>.
              <a class="tag is-info is-light" href="#">electronics</a>
              <a class="tag is-info is-light" href="#">mobile phone</a>
            </div>
            
          </div>
          
        </div>
        <footer class="card-footer is-info ">
          <a href="#" class="card-footer-item has-text-info"><span class="icon is-large"><i class="fas fa-heart fa-lg"></i></span></a>
          <a href="#" class="card-footer-item"><span class="icon is-large"><i class="fas fa-cart-plus fa-lg"></i></span></a>
        </footer>
      </div>
    </div>
   
    
  </div>
</main>
<Footer />
