@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:100,300,700');


// Update Bulma's global variables
// Name Colors
$baby-blue:#dff1f5;
$blue-grey:#7F8FA3;
$coral: #FFA0A3;
$turquoise:#77DDF9;;
 
// Assign Colors


$primary: $blue-grey;
$link: $turquoise;
$info:$coral;
$body-background-color:$baby-blue;
$grey-dark: #2A547E;
$grey-light: $baby-blue;

// Define Fonts and Font weights 
$family-sans-serif: "Lato", sans-serif;
// FontAwesome Settings
$fa-font-path: '../webfonts';
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/brands.scss";



// Theme Variables
$radius:0px;
$footer-background-color:$blue-grey;

// Import only what you need from Bulma
@import "../node_modules/bulma/bulma.sass";
@import './layout.scss';